	<main class="content">
				<div class="container-fluid p-0">					
						<div class="col-12">
							<div class="card">
								<div class="card-header">
								
									<h1 class="h3 mb-3">Anime Documentation</h1>
								
								
								<div class="table-responsive">
									<table class="table mb-0">
										<thead>
											<tr>
												<thead>
										<tr>
									    <th>Fitur Name</th>
                      <th>Request Method</th>	
                      <th>Description</th>	
                      <th>Query Parameter</th>																			
                     <th>Status</th>
                      <th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr>						                                      
                      <tr>
                     <td>Umaru</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Umaru Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/umaru?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                      <tr>
                      <td>Keneki</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Kaneki Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/keneki?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                      <td>Yotsuba</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Yotsuba Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/yotsuba?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Shinomiya</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Shinomiya Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/shinomiya?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                        <td>Yumeko</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Yumeko Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/yumeko?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                      <td>Tejina</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Tejina Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/tejina?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>  
                      <td>Chiho</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Chiho Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/chiho?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>   
                      <td>Touka Chan</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Touka Chan Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/toukachan?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>   
                        <td>Akira</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Akira Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/akira?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>     
                        <td>Itori</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Itori Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/itori?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>  
                        <td>Kurumi</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Kurumi Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kurumi?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>     
                        <td>Sagiri</td>
                        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                        <td>Random Sagiri Image</td>
                        <td>apikey</td>
                        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/sagiri?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>  
                      <td>Eba</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Eba Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/eba?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>   
                      <td>Deidara</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Deidara Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/deidara?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>  
                      <td>Itachi</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Itachi Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/itachi?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Madara</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Madara Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/madara?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Asuna</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Asuna Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/asuna?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Ayuzawa</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Ayuzawa Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/ayuzawa?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Chitoge</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Chitoge Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/chitoge?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Emilia</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Emilia Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/emilia?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Hestia</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Hestia Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/hestia?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Inori</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Inori Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/inori?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Ana</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Ana Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/ana?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Miku</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Miku Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/miku?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Kaori</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Kaori Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kaori?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Shizuka</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Shizuka Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/shizuka?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Doraemon</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Doraemon Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/doraemon?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Pokemon</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Pokemon Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/pokemon?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                      <td>Kaga</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Kaga Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kaga?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Koturi</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Koturi Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kotori?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Mikasa</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Mikasa Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/mikasa?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Akiyama</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Akiyama Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/akiyama?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Gremory</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Gremory Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/gremory?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Isuzu</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Isuzu Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/isuzu?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Shina</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Shina Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/shina?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Kagura</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Kagura Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kagura?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Shinka</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Shinka Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/shinka?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Tsunade</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Tsunade Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/tsunade?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Sasuke</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Sasuke Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/sasuke?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Sakura</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Sakura Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/sakura?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Rize</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Rize Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/rize?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>One-Piece</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random One Piece Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/onepiece?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Nezuko</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Nezuko Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/nezuko?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Boruto</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Boruto Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/boruto?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Naruto</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Naruto Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/naruto?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Erza</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Erza Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/erza?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Kakasih</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Kakashi Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/kakasih?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Minato</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Minato Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/minato?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Anime</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Anime Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/anime?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Elaina</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Elaina Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/elaina?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>
                      <td>Yuri</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Yuri Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/yuri?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr>                  
                      <td>Shota</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Shota Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/shota?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                       <td>Waifu</td>
                       <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                       <td>Random Waifu Image</td>
                       <td>apikey</td>
                       <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/waifu?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                       <td>Waifu 2</td>
                       <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                       <td>Random Waifu 2 Image</td>
                       <td>apikey</td>
                       <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/waifu2?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                       <td>Loli</td>
                       <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                       <td>Random Loli Image</td>
                       <td>apikey</td>
                       <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/loli?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                       <td>Hinata</td>
                       <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                       <td>Random Hinata Image</td>
                       <td>apikey</td>
                       <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/hinata?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Neko</td>
                       <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                       <td>Random Neko Image</td>
                       <td>apikey</td>
                       <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                        <td><a target="_blank" href="api/anime/neko?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                      </tr> 
                      <td>Shinobu</td>
                      <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                      <td>Random Shinobu Image</td>
                      <td>apikey</td>
                      <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                       <td><a target="_blank" href="api/anime/shinobu?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                     </tr> 
                     <td>Megumin</td>
                     <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                     <td>Random Megumin Image</td>
                     <td>apikey</td>
                     <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                      <td><a target="_blank" href="api/anime/megumin?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                    </tr> 
                    <td>Cosplay</td>
                     <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                     <td>Random Cosplay Image</td>
                     <td>apikey</td>
                     <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                      <td><a target="_blank" href="api/anime/cosplay?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                    </tr> 
                    <td>Marin Kitagawa</td>
                    <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                    <td>Random Marin Kitagawa Image</td>
                    <td>apikey</td>
                    <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                     <td><a target="_blank" href="api/anime/marin-kitagawa?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
                   </tr> 
                    </tbody>
                  </table>
                  </td>
                </div>
              </div>
            </div>
            </ul>
             </main>                                                                
      		<!-- Footer -->
			<footer class="footer">
				<script type="text/javascript">
   				 var det = new Date();
    				var tahun = det.getFullYear();
    				year = tahun;
				</script>
				<div class="container-fluid">
					<div class="footer-wrap pd-20 mb-20 card-box">
					Copyright © <script>document.write(year);</script>
					<a href="https://marin.my.id" target="_blank"
						>Marin Kitagawa</a
					>. All rights reserved.
				</div>
				</div>
			</footer>
			<!-- End Footer -->
				
			<!-- Back To Top -->
      	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      	  <!-- End Back To Top -->
        </div>
      </div>
    </div>
</script>

