<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Creator Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>						                                      
            <tr>
              <td>Circle</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>circle Maker</td>
              <td>apikey,url</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/creator/circle?url=https://telegra.ph/file/10e8e946de9825ede92c1.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Removebg</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Removebg Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/removebg?url=https://telegra.ph/file/7f07902457fd67af88441.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Burn</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Burn Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/burn?url=https://telegra.ph/file/2afeb29a7a3d099400cce.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Gura</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Gura Maker</td>
                <td>apikey,name</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gura?name=marin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GFX</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GFX Maker</td>
                <td>apikey,name</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gfx?name=marin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GFX 2</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GFX 2 Maker</td>
                <td>apikey,name</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gfx2?name=marin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GFX 3</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GFX 3 Maker</td>
                <td>apikey,text,text2</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gfx3?text=marin&text2=kawai&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GFX 4</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GFX 4 Maker</td>
                <td>apikey,text,text2</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gfx4?text=marin&text2=kawai&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GFX 5</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GFX 5 Maker</td>
                <td>apikey,text</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gfx5?text=marin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>XNXX</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>XNXX Maker</td>
                <td>apikey,name,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/xnxx?name=loli&url=https://telegra.ph/file/35b14aaadefd84f4a42a3.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>RIP</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>RIP Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/rip?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Gay</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Gay Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/gay?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Lisa</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Lisa Maker</td>
                <td>apikey,text</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/lisa?text=Here is my Lisa presentation&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Trash</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Trash Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/trash?url=https://telegra.ph/file/d2aac007792a85e2e9e64.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Blur</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Blur Maker</td>
                <td>apikey,url,level</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/blur?url=https://telegra.ph/file/7ff24b65fa45bee8f1552.jpg&level=10&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Jojo</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Jojo Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/jojo?url=https://telegra.ph/file/aa7681e677e047f26d1ae.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Boonk</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Boonk Maker</td>
                <td>apikey,url,url2</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/bonk?url=https://telegra.ph/file/aa7681e677e047f26d1ae.jpg&url2=https://telegra.ph/file/98d9b21aa4bf75f95220e.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Stonk</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Stonk Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/stonk?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Not Stonk</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Not Stonk Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/notstonk?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Discord</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Discord Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/discord?url=https://telegra.ph/file/1937b4c46dd7a0cb307ea.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Delete</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Delete Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/delete?url=https://telegra.ph/file/f954e2fbe453151d249d5.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Komunis</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Komunis Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/komunis?url=https://telegra.ph/file/21c8c3d3f9958eccbe4cd.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Wanted</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Wanted Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/wanted?url=https://telegra.ph/file/940e1fc3995449ba1109f.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Wasted</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Wasted Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/wasted?url=https://telegra.ph/file/940e1fc3995449ba1109f.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Patrick</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Patrick Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/patrick?url=https://telegra.ph/file/b5d0a14eb7195ec6f43d0.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Spongebob</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Spongebob Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/spongebob?url=https://telegra.ph/file/b5d0a14eb7195ec6f43d0.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Triggered</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Triggered Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/triggered?url=https://telegra.ph/file/3191938fac3f380bf54b9.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Hornycard</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Hornycard Maker</td>
                <td>apikey,url</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/hornycard?url=https://telegra.ph/file/9b1f61a1cd8ea20770f02.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Changemymind</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Changemymind Maker</td>
                <td>apikey,text</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/changemymind?text=kontol&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Ship</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Ship Maker</td>
                <td>apikey,name,avatar,name2,avatar2,num,status</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/ship?name=riski&name2=farhan&avatar=https://telegra.ph/file/98f9c3d76cd4975de9db4.jpg&avatar2=https://telegra.ph/file/b2387dffbc86ad8da9cd0.jpg&num=10&status=sahabat&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Welcome</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Welcome Maker</td>
                <td>apikey,name,picurl,bgurl,mem,gcname</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/welcome?name=bgs bot&picurl=https://i.pinimg.com/236x/db/bc/76/dbbc76ed85c2f8872857ccd4925af9fa.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&mem=50&gcname=Wibu&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Welcome 2</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Welcome 2 Maker</td>
                <td>apikey,name,mem,gcname,picurl,bgurl,gcicon</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/welcome2?name=bgs bot&mem=50&gcname=Anime Lovers&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&gcicon=https://i.pinimg.com/236x/1c/5b/e1/1c5be122c99882c8d6498c4df7fa5bc7.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Welcome 3</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Welcome 3  Maker</td>
                <td>apikey,name,picurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/welcome3?name=bgs bot&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GoodBye</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GoodBye Maker</td>
                <td>apikey,name,picurl,bgurl,mem,gcname</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/goodbye?name=bgs bot&picurl=https://i.pinimg.com/236x/db/bc/76/dbbc76ed85c2f8872857ccd4925af9fa.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&mem=50&gcname=Wibu&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GoodBye 2</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GoodBye 2 Maker</td>
                <td>apikey,name,mem,gcname,picurl,bgurl,gcicon</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/goodbye2?name=bgs bot&mem=50&gcname=Anime Lovers&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&gcicon=https://i.pinimg.com/236x/1c/5b/e1/1c5be122c99882c8d6498c4df7fa5bc7.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>GoodBye 3</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>GoodBye 3 Maker</td>
                <td>apikey,name,picurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/goodbye3?name=bgs bot&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Rank Card</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Rank Card Maker</td>
                <td>apikey,name,currentxp,requiredxp,level,picurl,bgurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/rankcard?name=bgs bot&currentxp=100&requiredxp=1000&level=1&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Level UP</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Level UP Maker</td>
                <td>apikey,picurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/levelup?picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Promote</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Promote Maker</td>
                <td>apikey,name,mem,msg,picurl,bgurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/promote?name=Ichika&mem=50&msg=Selamat Menjadi Admin&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Demote</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Demote Maker</td>
                <td>apikey,name,mem,msg,picurl,bgurl</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/creator/demote?name=bgs bot&mem=50&msg=Mampus Didemote&picurl=https://i.pinimg.com/236x/2e/a7/97/2ea797d627b3f3e3b1bff4a27ec09254.jpg&bgurl=https://i.ibb.co/rxWdgSL/marin.jpg&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://bgsbot.my.id" target="_blank"
            >bgs bot</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

