<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Entertainment Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>						                                      
            <tr>
                <td>Cak Lontong</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random quiz cak lontong with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/caklontong?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Family100</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random quiz family 100 with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/family100?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Character Anime</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Seberapa wibunya elu?</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakchara?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Gambar</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random tebak gambar with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakgambar?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Asah Otak</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Asah otak</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/asahotak?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Siapakah aku?</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Siapakah aku?</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/siapakahaku?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Susun Kata</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Susun Kata</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/susunkata?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Kata</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random tebak kata with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakkata?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Kalimat</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random tebak kalimat with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakkalimat?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Tebakan</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Random tebak Tebakan with answer</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebaktebakan?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Bendera</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Tebak Bendera</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakbendera?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Unsur Kimia</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Yang ngaku pinter sini</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebakkimia?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Tebak Lirik Lagu</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Tebak lirik</td>
                <td>apikey</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/entertainment/tebaklirik?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://marin.my.id" target="_blank"
            >Marin Kitagawa</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

