<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Nsfw Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>						                                      
          <tr>
            <td>Ahegao</td>
            <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
            <td>Random Ashegao Image ( NSFW )</td>
            <td>apikey</td>
            <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/ahegao?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr>
         <td>Ass</td>
            <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
            <td>Random Ass Image ( NSFW )</td>
            <td>apikey</td>
            <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/ass?apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr>
          <tr>
          <td>Anal</td>
           <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
           <td>Random Anal ( NSFW )</td>
           <td>apikey</td>
           <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/anal?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr> 
           <td>Blowjob</td>
           <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
           <td>Random Blowjob ( NSFW )</td>
           <td>apikey</td>
           <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/blowjob?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr> 
           <td>Bdsm</td>
           <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
           <td>Random Bdsm Image ( NSFW )</td>
           <td>apikey</td>
           <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/bdsm?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr> 
          <td>Boobjob</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Random Boobjob Image ( NSFW )</td>
          <td>apikey</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
           <td><a target="_blank" href="api/nsfw/boobjob?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
         </tr>
         <td>Boobs</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Random Boobs Image ( NSFW )</td>
          <td>apikey</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
           <td><a target="_blank" href="api/nsfw/boobs?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
         </tr> 
          <td>Classic</td>
           <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
           <td>Random Classic ( NSFW )</td>
           <td>apikey</td>
           <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/classic?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr> 
          <td>Cum</td>
           <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
           <td>Random Cum Image ( NSFW )</td>
           <td>apikey</td>
           <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/nsfw/cum?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr> 
          <td>Creampie</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Random Creampie Image ( NSFW )</td>
          <td>apikey</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
           <td><a target="_blank" href="api/nsfw/creampie?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
         </tr> 
          <td>Cuckold</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Random Cuckold Image ( NSFW )</td>
          <td>apikey</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
           <td><a target="_blank" href="api/nsfw/cuckold?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
         </tr> 
         <td>Ecchi</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Ecchi Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/ecchi?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Ero</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Ero Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/ero?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Ero V2</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Ero Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/ero2?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Elves</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Elves Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/elves?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
         <td>Femdom</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Femdom Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/femdom?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Footjob</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Footjob Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/footjob?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Glasses</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Glasses Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/glasses?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
        <td>Gangbang</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Gangbang Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/gangbang?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr> 
         <td>Gif</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Gif ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/gif?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Hentai</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Hentai Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/hentai?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Hentai V2</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Hentai Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/hentai2?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Masturbation</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Masturbation Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/masturbation?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Public</td>
         <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
         <td>Random Public Image ( NSFW )</td>
         <td>apikey</td>
         <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/nsfw/public?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Pantsu</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Pantsu Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/pantsu?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Pussy</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Pussy Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/pussy?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Paizuri</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Paizuri Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/paizuri?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Orgy</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Orgy Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/orgy?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Oral</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Oral Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/oral?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Manga</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Manga Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/manga?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Milf</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Milf Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/milf?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Waifu</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Waifu Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/waifu?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Neko</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Neko Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/neko?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Trap</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Trap Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/trap?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Thighs</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Thighs Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/thighs?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Tentacles</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Tentacles Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/tentacles?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>Uniform</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random Uniform Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/uniform?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
       <td>ZettaiRyouiki</td>
        <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
        <td>Random ZettaiRyouiki Image ( NSFW )</td>
        <td>apikey</td>
        <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
         <td><a target="_blank" href="api/nsfw/zettaiRyouiki?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
       </tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://marin.my.id" target="_blank"
            >Marin Kitagawa</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

