<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Searching Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>						                                      
            <tr>
              <td>Pinterest</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Search image from Pinterest</td>
              <td>apikey,query</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/search/pinterest?query=Marin%20Kitagawa&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <td>Xnxx Search</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Search Xnxx #TobatBrother</td>
              <td>apikey,query</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/search/xnxxsearch?query=japanese&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <td>Konachan</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Search Konachan</td>
              <td>apikey,query</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/search/konachan?query=remilia_scarlet&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <td>StickerPack Search</td>
            <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
            <td>Get StickerPack Search</td>
            <td>apikey,query</td>
            <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/search/sticker?query=pentol&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr>
          <td>Happymod Search</td>
            <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
            <td>Happymod Search</td>
            <td>apikey,query</td>
            <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
            <td><a target="_blank" href="api/search/happymod?query=genshin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
          </tr>
          <td>SfileMobi Search</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>SfileMobi Search</td>
          <td>apikey,query,page</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/sfilesearch?query=Minecraft&page=1&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
          <td>Domain Search</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Domain Search</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/domainsearch?query=ichika&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
         <td>Cek Domain</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Cek Domain</td>
          <td>apikey,domain</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/cekdomain?domain=marin.my.id&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
         <td>Sticker Line</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Sticker Line Search</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/stickerline?query=patrick&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Google</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Search information from Google</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/google?query=anime&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Google Image</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Search image from Google</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/gimage?query=erza scarlet&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Youtube Search</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Search video from youtube</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/ytsearch?query=Makima Supremarcy&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Wallpaper Search</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Search image from Wallpaper</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/wallpaper?query=kitagawa marin&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Lirik</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Get lyric by song title</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/lirik?query=kokoronashi&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        <td>Danbooru Search</td>
          <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
          <td>Search image from Danbooru ( NSFW )</td>
          <td>apikey,query</td>
          <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
          <td><a target="_blank" href="api/search/danbooru?query=elf&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
        </tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://marin.my.id" target="_blank"
            >Marin Kitagawa</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

