<main class="content">
    <div class="container-fluid p-0">					
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    
                        <h1 class="h3 mb-3">Stalker Documentation</h1>
                    
                    
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <thead>
                            <tr>
                            <th>Fitur Name</th>
          <th>Request Method</th>	
          <th>Description</th>	
          <th>Query Parameter</th>																			
         <th>Status</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>						                                      
            <tr>
              <td>Github Stalk</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Get user info by username from github</td>
              <td>apikey,username</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/stalk/ghstalk?username=johannes2803&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
                <td>Github Repo Stalk</td>
                <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
                <td>Get user info by github</td>
                <td>apikey,name</td>
                <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
                <td><a target="_blank" href="api/stalk/githubrepo?name=mythia-batford&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
              </tr>
              <tr>
              <td>Wattpad Stalk</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Get user info by username from Wattpads</td>
              <td>apikey,Username</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/stalk/stalkwattpad?username=jokowi&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
              <td>Twitter Stalk</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Get user info by username from twitter</td>
              <td>apikey,Username</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/stalk/twiterstalk?username=johannes28_&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
              <td>Stalk Tiktok</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>Get user info by username from tiktok</td>
              <td>apikey,Username</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/stalk/tiktokstalk?username=jhnspntx&apikey=<%= apikey %>" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
              <td>Npm Info</td>
              <td><div class="btn btn-rounded btn-outline-info">GET</div></td>
              <td>get info from npm</td>
              <td>apikey,query</td>
              <td><div class="btn btn-sm-rounded btn-outline-success">Active</div></td>
              <td><a target="_blank" href="api/stalk/npminfo?apikey=<%= apikey %>&query=baileys" class=" btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="mdi mdi-arrow-top-right"></a></td>
            </tr>
            <tr>
        </tbody>
      </table>
      </td>
    </div>
  </div>
</div>
</ul>
 </main>                                                                
  <!-- Footer -->
<footer class="footer">
    <script type="text/javascript">
        var det = new Date();
        var tahun = det.getFullYear();
        year = tahun;
    </script>
    <div class="container-fluid">
        <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © <script>document.write(year);</script>
        <a href="https://marin.my.id" target="_blank"
            >Marin Kitagawa</a
        >. All rights reserved.
    </div>
    </div>
</footer>
<!-- End Footer -->
    
<!-- Back To Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- End Back To Top -->
</div>
</div>
</div>
</script>

